#postgres
postgres_sv/pgdata/*
!postgres_sv/pgdata/dummy_dir

#node
root.tar
node_sv/app/*/app/log
node_sv/app/*/app/temp
node_sv/app/*/app/www/mynetwork/root/*
!node_sv/app/*/app/www/mynetwork/root/dummy_dir

#fuse
fuse_sv/m2/copy_reference_file.log
fuse_sv/m2/settings-docker.xml
fuse_sv/m2/repository/*
!fuse_sv/m2/repository/dummy_dir
fuse_sv/log
fuse_sv/nas/*
!fuse_sv/nas/dummy_dir

mynetwork.conf.bak
